/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size  : 17px;
}

.page-foot {
    font-size: 80%;
    font-family: Arial, serif;
    color: lightgrey;
    text-align: center;
    margin-top: 6em;
    border-top: 1px solid lightgrey;
    padding-top: 2em;
    margin-bottom: 4em;
}

/* ==================================================================
    LINKS
================================================================== */

.eqref a {
    text-decoration: none;
    color: #9933ff;
}
