main > .container {
  padding: 60px 15px 0;
}

main a {
  color: inherit;
}

main a:hover {
  color: var(--oxb);
}

#main-name {font-weight: 500;}

@media (min-width: 768px) {
  #main-name {
    padding-left: 10px;
    padding-right: 25px;
    margin-right: 15px;
    border-right: 1px solid white;
  }
}

#main-nav {
  width: 100%;
}

.navbar-nav#main-nav {
  flex-direction: row;
}

@media (max-width: 768px) {
    .container {
      padding-top: 100px !important;
    }
    .navbar-nav#main-nav li {
      padding-right: 1rem;
    }
}

.nav-link.active {
  font-weight: 500;
}

nav .container-fluid {
  max-width: 54em;
  margin-left: auto;
  margin-right: auto;
}

footer .text-muted a {
  color: inherit;
}
footer .text-muted a:hover {
  color: var(--oxb);
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  color: var(--bs-dark);
}

.container {
  max-width: 50em;
}

.container h2, h3 {
  padding-top: 1em;
}

.container h1, h2, h3 {
  padding-bottom: .25em;
}

.posts-container {
  max-width: 760px;
}

@media (min-width: 40em) {
    .posts-container {
        font-size: 18px
    }
}

.list ul {
  padding-left: 0;
  list-style: none;
}

.list li {
  display: block;
  margin-bottom: 5px;
}

.list span.post-date {
  float: right;
  color: #767676;
  padding-left: 30px;
  font-size: 90%;
}

.list a {
  font-weight: 450;
}

body {
  counter-reset: eqnum;
}

.katex { font-size: 1em !important; }

.katex-display .katex {
    display: inline-block; } /* overwrite katex settings */

.katex-display::after {
    counter-increment: eqnum;
    content: "(" counter(eqnum) ")";
    position: relative;
    float: right;
    padding-right: 5px; }


.colbox-blue {
    background-color: #EEF3F5;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 1em;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid #4C9CF1; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline;
  font-style: italic;
}

li p {
  margin-bottom: 0.25em;
}


:target[id] {
  margin-top: -70px;
  padding-top: 80px;
}

@media (max-width: 768px) {
  :target[id] {
    margin-top: -100px;
    padding-top: 120px;
  }
}

.hljs {
  padding-left: 1em;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.hljs-metaj, .hljs-metas, .hljs-metap { font-weight: bold; }

.hljs-metaj { color: rgb(25, 179, 51); }

.hljs-metas { color: red; }

.hljs-metap { color: rgb(51, 131, 231); }

ol li ol li {
  list-style-type: lower-roman;
}

#post-title {
  padding-left: .5em;
  margin-left: .5em;
  border-left: 1px solid white;
}

.nav-item#post-title a.nav-link.active {
  color: var(--bs-info);
}

@media (max-width: 768px) {
  #post-title {
    padding-left: 1em;
  }
}

.img-small img {
    width: 75%;
    text-align: center;
    padding-left: 20%; }

.eqref {color: magenta;}
.eqref a {
  text-decoration: none;
}

.ctable table {
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1.5em;}
.ctable tr:first-of-type {
    background: #eae9f4;
}
.ctable tr:first-of-type > th {
    text-align: center;
}
.ctable tr,th,td{
    padding: 10px;
    border: 1px solid lightgray;}

.ctable table tbody tr td {
  border: 1px solid lightgray;
}

pre code.plaintext {
  background-color: #dbebe0;
}

span.post-descr {
  float: none;
  font-style: italic;
  color: var(--oxb);
  font-size: 90%;
}

.list a:hover {
  color: #f93;
}

.tag-link {
  font-size: 120%;
}

a.tag-link:hover {
  color: #f93
}

.tag-count {
  font-size: 120%;
  padding-right: 1.5em;
}


.tagslist {
  line-height: 2.25em;
  max-width: 90%;
}
