<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		{{ if isdemo }}
			<link rel="stylesheet" href="/css/main.css">
		{{ else }}
			<link rel="stylesheet" href="/css/main.css">
	        <link rel="icon" href="/assets/infra/favicon.png">
		{{ end }}
		{{ifdef title}} <title>{{fill title}}</title>	{{end}}
		{{if hasmath}} {{insert head_katex.html }} 		{{end}}
        {{if hascode}} {{insert head_highlight.html }} 	{{end}}
	</head>
    <body>
		{{ if isdemo }} {{ else }}
        <header>
            <div class="blog-name"><a href="/">Thibaut Lienart</a></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/pub/csml.html">CS/ML notes</a></li>
                    <li><a href="/pub/julia.html">Julia notes</a></li>
                    <li><a href="/pub/misc.html">Misc.</a></li>
                </ul>
                <img src="/assets/infra/hamburger.svg" id="menu-icon">
            </nav>
        </header>
		{{ end }}

<!-- Content appended here -->
