<!doctype html>
<html lang="en-UK">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="icon" href="/assets/infra/favicon.png">
		{{ifdef title}} <title>{{fill title}}</title>	{{end}}
		{{if hasmath}} {{insert head_katex.html }} 		{{end}}
        {{if hascode}} {{insert head_highlight.html }} 	{{end}}
	</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/pub/csml.html">CS/ML Notes</a></li>
                    <li><a href="/pub/julia.html">Julia Notes</a></li>
                    <li><a href="/pub/misc.html">Misc.</a></li>
                </ul>
                <img src="assets/infra/hamburger.svg" id="menu-icon">
            </nav>
        </header>

<!-- CONTENT IS APPENDED HERE -->
